* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open sans', sans-serif;
    display: flex;
    flex-direction: row;
}

.container {
    width: 82vw;
    height: 100vh;
    transition: 0.5s;
}

.container.active {
    width: 93vw;
    height: 100vh;
}

.cabecalho {
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo-monitoramento {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #424040;
    font-weight: 900;
    font-size: 40px;
}

.filtro {
    display: flex;
    width: 40%;
    height: 45%;
    justify-content: space-evenly;
    align-items: center;
}

.filtro-label img {
    width: 20px;
}

.filtro-label {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-bottom: 5px;
}

.filtro-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.filtro-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

.filtro button {
    margin-left: 2%;
    width: 50%;
    height: 65%;
    border-width: 1px;
    border-color: #424040;
    box-shadow: 0 0 0 0;
    outline: 0;
    border-radius: 25px;
    background-color: white;
    color: #424040;
    font-size: 18px;
    cursor: pointer;
}

#moderado_button {
    width: 290px;
}

#todos_button {
    background-color: #73CAF6;
    color: white;
    border: none;
}


.conteudo-A-form-subtitulo-linha {
    width: 80%;
    height: 35%;
    display: flex;
    align-items: center;
}

.linha {
    background-color: #838383;
    width: 100%;
    font-size: 1px;
    color: #838383;
}

.container-computador {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 75%;
}

.monitoramento-comp {
    width: 75%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: auto;
}

.computador {
    display: flex;
    padding: 4%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    text-decoration: none;
    cursor: pointer;
}

.container-pc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
}

.computador-estado {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#nomeFuncionario {
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 19px;
}

.nome-funcionario {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #434343;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    font-weight: 550;
    width: 100%;
    margin: 10px 0 10px 0;
}

.CPU,
.RAM,
.DISCO {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.label-cpu img {
    width: 25px;
    margin-right: 10%;
}

.label-ram img {
    width: 25px;
    margin-right: 10%;
}

.label-disco img {
    width: 25px;
    margin-right: 10%;
}

.label-cpu,
.label-ram,
.label-disco {
    display: flex;
    align-items: center;
    width: 80px;
    color: black;
}

.porcentagem-uso {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.porcentagem-cpu,
.porcentagem-ram,
.porcentagem-disco {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 600;
    width: 30%;
    margin-left: 10%;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #CCCCCC;
    border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}